LOGTO_ISSUER=
LOGTO_CLIENT_ID=
LOGTO_CLIENT_SECRET=

LOGTO_M2M_APP_ID=
LOGTO_M2M_APP_SECRET=
LOGTO_M2M_ENDPOINT=

# NextAuth configuration
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Github Personal Access Token for service account (must have a admin:org claim)
GITHUB_SERVICE_ACCOUNT_TOKEN=''

# Prisma DB connection URL
# delete quotes before creating a configmap from file
DATABASE_URL=""

# Timezone
SWYNCA_TZ=Europe/Moscow

# Locale for date, time, and currency formatting
SWYNCA_LOCALE=ru-RU

# Currency code (like USD, EUR, etc)
SWYNCA_CURRENCY=RUB
